[submodule "components/GxEPD"]
	path = components/GxEPD
	url = https://github.com/martinberlin/GxEPD-config-spi.git
[submodule "components/arduino"]
	path = components/arduino
	url = https://github.com/espressif/arduino-esp32.git
	branch = idf-release/v4.0
