menu "Display Configuration"
    comment "Fill only EPD entries for single SPI displays (Good display/Waveshare)"
    comment "Mosi and Clock should be set for any epaper"
    config EINK_SPI_MOSI
        int "EPD SPI: GPIO for MOSI (DIN in epaper) * Universal MOSI"
        range 0 35
        default 23
    config EINK_SPI_CLK
        int "EPD SPI: GPIO for Clock                * Universal CLK"
        range 0 37
        default 18
    config EINK_SPI_CS
        int "EPD SPI: GPIO for Chip Select"
        range -1 34
        default 32
    config EINK_DC
        int "EPD: GPIO for DC"
        range -1 34
        default 27
    config EINK_RST
        int "EPD: GPIO for Reset"
        range -1 34
        default 26
    config EINK_BUSY
        int "EPD: GPIO for Busy signal - DONE for Good Display/Waveshare einks! Leave rest on 0 unless is Wave12I48 or PlasticLogic"
        range -1 39
        default 35
    
    comment "Important: Leave the rest of unconfigured GPIOs to -1 unless multi-SPI channels (wave12I48) or Plasticlogic EPDs"
    comment "CS2 and MISO pins apply only to Plasticlogic.com epaper displays"
    
    config EINK_SPI_CS2
        int "EPD SPI: GPIO for Chip Select2"
        range -1 34
        default 4
    config EINK_SPI_MISO
        int "EPD SPI: GPIO for MISO"
        range -1 36
        default 19
        
    comment "Config below applies to 4 epaper module wave12I48 w/4 SPI CS & BUSY pins (14 pins)"
    comment "| S2 | M2 |"
    comment "-----------"
    comment "| M1 | S1 |"
    config EINK_SPI_M1_CS
        int "* CS M1"
        range 0 23
        default 23
    config EINK_SPI_S1_CS
        int "* CS S1"
        range 0 23
        default 22
    config EINK_SPI_M2_CS
        int "* CS M2 do not use 16-17 when using PSRAM"
        range 0 27
        default 16
    config EINK_SPI_S2_CS
        int "* CS S2"
        range 0 23
        default 19

    config EINK_SPI_M1_BUSY
        int "* BUSY M1"
        range 0 32
        default 32
    config EINK_SPI_S1_BUSY
        int "* BUSY S1"
        range 0 32
        default 26
    config EINK_SPI_M2_BUSY
        int "* BUSY M2"
        range 0 32
        default 18
    config EINK_SPI_S2_BUSY
        int "* BUSY S2"
        range 0 32
        default 4

    config EINK_M1S1_DC
        int "* M1S1_DC: M1 & S1 share DC & RST"
        range 0 25
        default 25
    config EINK_M2S2_DC
        int "* M2S2_DC do not use 16-17 when using PSRAM"
        range 0 27
        default 17
    config EINK_M1S1_RST
        int "* M1S1_RST"
        range 0 33
        default 33
    config EINK_M2S2_RST
        int "* M2S2_RST"
        range 0 33
        default 5
endmenu