menu "Display Configuration"
    config EINK_SPI_MOSI
        int "EPD SPI: GPIO for MOSI (DIN in epaper)"
        range 0 34
        default 23
    config EINK_SPI_CLK
        int "EPD SPI: GPIO for Clock"
        range 0 34
        default 18
    config EINK_SPI_CS
        int "EPD SPI: GPIO for Chip Select"
        range 0 34
        default 32
    config EINK_DC
        int "EPD: GPIO for DC"
        range 0 34
        default 27
    config EINK_RST
        int "EPD: GPIO for Reset"
        range 0 34
        default 26
    config EINK_BUSY
        int "EPD: GPIO for Busy signal"
        range 0 39
        default 35  
endmenu