menu "I2S data bus Configuration"
    comment "I2S data lines and clock. Defaults to LILYGO epaper"

    config D0
        int "Data Bus 0"
        range 5 37
        default 33
    config D1
        int "Data Bus 1"
        range 5 37
        default 32
    config D2
        int "Data Bus 2"
        range 4 37
        default 4
    config D3
        int "Data Bus 3"
        range 5 37
        default 19
    config D4
        int "Data Bus 4"
        range 2 37
        default 2
    config D5
        int "Data Bus 5"
        range 5 37
        default 27
    config D6
        int "Data Bus 6"
        range 5 37
        default 21
    config D7
        int "Data Bus 7"
        range 5 37
        default 22

    config CKV
        int "Data control line"
        range 20 25
        default 25
    config CKH
        int "Data clock pin"
        range 0 5
        default 5
    config STH
        int "Start pulse: enabling data input on the slave device (active low)"
        range 26 37
        default 26

    config CFG_DATA
        int "Data config register data"
        range 20 25
        default 23
    config CFG_CLK
        int "Data config register clock"
        range 18 18
        default 18
    config CFG_STR
        int "Data config register string"
        range 0 19
        default 0

endmenu